<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Orders Waiter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src=https://code.jquery.com/jquery-3.6.0.js></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
<style>
        body{
    margin: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4DC3EB;
}
.card {
    display:inline-block;
    margin-bottom: 50px;
    background-color: white;
}
    </style>
</head>
<body>
<div class="navdiv">
    <ul>
        <li><a  href="/">Начало</a></li>
        <li><a href="/menu">Меню</a></li>
        <li><a href="/orders/active">Активни поръчки</a></li>
        <Li><a href="/tables">Маси</a></Li>
        <Li><a href="/orders/reference-waiter" class="active">Справки</a></Li>
        <Li><a href="/orders/reference-cook">Справки2</a></Li>
        <li style="float:right"><a href="/login">Изход</a></li>
    </ul>
</div>

<div class="container">
    <form action="/orders/reference-waiter" method="get">
        <label for="filter1">Поръчки:</label>
        <select id="filter1" name="filter1">
            <option value="all" th:selected="${filter1 == 'all'}">Всички</option>
            <option value="your" th:selected="${filter1 == 'your'}">Ваши</option>
        </select>

        <label for="filter2">Дата:</label>
        <select id="filter2" name="filter2">
            <option value="newest" th:selected="${filter2 == 'newest'}">Най-скорошни</option>
            <option value="oldest" th:selected="${filter2 == 'oldest'}">Най-стари</option>
        </select>
        <button type="submit">Apply Filter</button>
    </form><br>
    <br>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Маса</th>
                <th>Създадена на</th>
                <th>Платена на</th>
                <th>Статус</th>
                <th>Текуща цена</th>
                <th>Сервитьор</th>
                <th>Готвач</th>
                <th></th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.table.number}"></td>
                <td th:text="${order.createdOn}"></td>
                <td>
                    <span th:text="${order.finishDate}" th:if="${order.finishDate} != null"></span>
                </td>
                <td th:text="${order.orderStatus.getValue}"></td>
                <td th:text="${order.totalCost}"></td>
                <td th:text="${order.waiter.firstName}"></td>
                <td>
                    <span th:text="${order.cook.firstName}" th:if="${order.cook} != null"></span>
                </td>
                <td>
                    <form th:action="@{/orders/view-more/{oId}(oId=${order.id})}" method="post">
                        <input type="submit" name="more" value="Още" class="btn btn-outline-primary">
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>