<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Drink info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src=https://code.jquery.com/jquery-3.6.0.js></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <p>Име: <span th:text="${drink.name}"></span></p>
        <p>Тип: <span th:text="${drink.drinkType}"></span></p>
        <p>Цена: <span th:text="${drink.price} + ' лв.'"></span></p>
        <p>Количество: <span th:text="${drink.quantity} + ' ' + ${drink.drinkQuantityType}"></span></p>
        <p>Описание: <span th:text="${drink.description}"></span></p>
        <a href="/menu" s="btn btn-outline-secondary">Назад</a>
        <a th:href="@{/drinks/edit/{drinkId}(drinkId=${drink.id})}" class="btn btn-outline-warning">Промяна</a>
        <form th:action="@{/drinks/delete/{drinkId}(drinkId=${drink.id})}" method="post">
            <input type="submit" name="delete" value="Премахване" class="btn btn-outline-danger">
        </form>
    </div>
</body>
</html>